# Database Configuration
MONGO_URI=mongodb://127.0.0.1:27017/emerald

# Server Port
PORT=3001
MAIN_PORTAL_URL=http://localhost:3000

# JWT Secret
JWT_SECRET=super_secret_emerald_token_123
JWT_EXPIRE=30d

# Internal sync secret between main portal and staff portal
SYNC_SECRET=7aa57bc1e3457bc2f5efb0fe9863ef63ad3ca92cf80fe79b4161712a2e4a167306e5e8be74f4e2272a6c5af4512097ed30a967d8a0889baa8e9f0597723e4483

# M-Pesa Daraja B2C Configuration
MPESA_CONSUMER_KEY=your_consumer_key
MPESA_CONSUMER_SECRET=your_consumer_secret
MPESA_ENVIRONMENT=sandbox
MPESA_B2C_SHORT_CODE=your_shortcode
MPESA_B2C_INITIATOR_NAME=your_initiator_name
MPESA_B2C_SECURITY_CREDENTIAL=your_security_credential
MPESA_B2C_QUEUE_TIMEOUT_URL=https://your_url/portal/admin-staff/mpesa/timeout
MPESA_B2C_RESULT_URL=https://your_url/portal/admin-staff/mpesa/callback

# Email Configuration
BREVO_API_KEY=your_brevo_api_key
EMAIL_USER=your_email@gmail.com
EMAIL_PASSWORD=your_app_password
ADMIN_EMAIL=admin@example.com
