# Database Configuration
MONGO_URI=mongodb://127.0.0.1:27017/emerald

# Server Port
PORT=3001
MAIN_PORTAL_URL=http://localhost:3000

# JWT Secret
JWT_SECRET=super_secret_emerald_token_123
JWT_EXPIRE=30d

# M-Pesa Daraja B2C Configuration
MPESA_CONSUMER_KEY=your_consumer_key
MPESA_CONSUMER_SECRET=your_consumer_secret
MPESA_ENVIRONMENT=sandbox
MPESA_B2C_SHORT_CODE=your_shortcode
MPESA_B2C_INITIATOR_NAME=your_initiator_name
MPESA_B2C_SECURITY_CREDENTIAL=your_security_credential
MPESA_B2C_QUEUE_TIMEOUT_URL=https://your_url/portal/admin-staff/mpesa/timeout
MPESA_B2C_RESULT_URL=https://your_url/portal/admin-staff/mpesa/callback

# Email Configuration
BREVO_API_KEY=your_brevo_api_key
EMAIL_USER=your_email@gmail.com
EMAIL_PASSWORD=your_app_password
ADMIN_EMAIL=admin@example.com
