<%- include('../clientBase') %>
<h2>Account Locked</h2>
<p>Hello,</p>
<p>There have been multiple unsuccessful attempts to sign in to your Emerald Pearland Events Client Portal account. As a security precaution, your account has been temporarily locked.</p>
<p>This lock will automatically expire in 30 minutes. If you forgot your password, please wait until the lock expires, and then use the password reset feature.</p>
<p>If you did not initiate these login attempts, we strongly recommend resetting your password immediately once access is restored.</p>
