<%- include('../clientBase') %>
<h2>Password Reset Request</h2>
<p>Hello,</p>
<p>We received a request to reset the password associated with your Client Portal account. If you did not make this request, you can simply ignore this email.</p>
<p>Click the secure link below to choose a new password. This link will expire in 1 hour.</p>
<a href="<%= process.env.CLIENT_PORTAL_URL %>/client/password-reset/confirm?token=<%= token %>" class="btn">Reset My Password</a>
