<%- include('../clientBase') %>
<h2>Password Changed Notification</h2>
<p>Hello,</p>
<p>This is a confirmation that the password for your Emerald Pearland Events Client Portal account was just changed.</p>
<p>For your security, all active sessions on other devices have been automatically signed out.</p>
<p>If you did not make this change, please contact our support team immediately.</p>
<a href="<%= process.env.CLIENT_PORTAL_URL %>/client/login" class="btn">Sign In to Client Portal</a>
